body{
    margin: 0;
}
.hero{
    text-align: center;
    font-size: 30px;
    height: 300px;
    padding: 50px;
    background-image: url('player.jpg'), url('naturel.jpg');
    background-repeat: no-repeat;
    background-position:left top ,center center;
    background-size: cover,cover;
    background-blend-mode: multiply;
    /* background:  url('desk1.png') no-repeat center; */


}